In [1]:
# Analysis

# 201309_trip_data.csv
# 201309_trip_summary.csv
# 201402_README.txt
# 201402_station_data.csv
# 201402_trip_data.csv
# 201402_weather_data.csv
# 201408_README.txt
# 201408_station_data.csv
# 201408_trip_data.csv
# 201408_weather_data.csv
# 201508_README.txt
# 201508_station_data.csv
# 201508_trip_data.csv
# 201508_weather_data.csv

In [2]:
# IMPORT PACKAGES
import pandas as pd

In [3]:
# READ DATA
df_201402_station = pd.read_csv('ndfdsi-bikeshareanalysis/201402_station_data.csv')
df_201402_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201402_trip_data.csv')
df_201402_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201402_weather_data.csv')

df_201408_station = pd.read_csv('ndfdsi-bikeshareanalysis/201408_station_data.csv')
df_201408_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201408_trip_data.csv')
df_201408_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201408_weather_data.csv')

df_201508_station = pd.read_csv('ndfdsi-bikeshareanalysis/201508_station_data.csv')
df_201508_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201508_trip_data.csv')
df_201508_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201508_weather_data.csv')

In [4]:
# CHECK d201402 DATA SIZE
print(df_201402_station.shape)
print(df_201402_trip.shape)
print(df_201402_weather.shape)

(69, 7)
(144015, 11)
(920, 24)

In [5]:
# CHECK d201408 DATA SIZE
print(df_201408_station.shape)
print(df_201408_trip.shape)
print(df_201408_weather.shape)

(70, 7)
(171792, 11)
(920, 24)

In [6]:
# CHECK d201508 DATA SIZE
print(df_201508_station.shape)
print(df_201508_trip.shape)
print(df_201508_weather.shape)

(70, 7)
(354152, 11)
(1825, 24)

In [7]:
# CHANGE COLUMN
df_201402_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [18]:
# MERGE STATION DATA
df_stations_data = [df_201402_station, df_201408_station, df_201508_station]
df_station = pd.concat(df_stations_data)
df_station.shape

(209, 7)

In [19]:
# TOTAL DE DUPLICATAS
sum(df_station.duplicated())

133

In [20]:
# REMOVENDO AS DUPLICATAS
df_station.drop_duplicates(inplace=True)

In [21]:
df_station.shape

(76, 7)

In [9]:
# MERGE TRIP DATA
df_trips_data = [df_201402_trip, df_201408_trip, df_201508_trip]
df_trip = pd.concat(df_trips_data)
df_trip.head()

,bike_#,duration,end_date,end_station,end_terminal,start_date,start_station,start_terminal,subscriber_type,subscription_type,trip_id,zip_code
0,520,63,8/29/2013 14:14,South Van Ness at Market,66,8/29/2013 14:13,South Van Ness at Market,66,NaN,Subscriber,4576,94127
1,661,70,8/29/2013 14:43,San Jose City Hall,10,8/29/2013 14:42,San Jose City Hall,10,NaN,Subscriber,4607,95138
2,48,71,8/29/2013 10:17,Mountain View City Hall,27,8/29/2013 10:16,Mountain View City Hall,27,NaN,Subscriber,4130,97214
3,26,77,8/29/2013 11:30,San Jose City Hall,10,8/29/2013 11:29,San Jose City Hall,10,NaN,Subscriber,4251,95060
4,319,83,8/29/2013 12:04,Market at 10th,67,8/29/2013 12:02,South Van Ness at Market,66,NaN,Subscriber,4299,94103

In [10]:
# MERGE WEATHER DATA
df_weathers_data = [df_201402_weather, df_201408_weather, df_201508_weather]
df_weather = pd.concat(df_weathers_data)
df_weather.shape

(3665, 42)

In [23]:
sum(df_weather.duplicated())

0