In [2]:
# Analysis

# 201309_trip_data.csv
# 201309_trip_summary.csv
# 201402_README.txt
# 201402_station_data.csv
# 201402_trip_data.csv
# 201402_weather_data.csv
# 201408_README.txt
# 201408_station_data.csv
# 201408_trip_data.csv
# 201408_weather_data.csv
# 201508_README.txt
# 201508_station_data.csv
# 201508_trip_data.csv
# 201508_weather_data.csv

In [3]:
# IMPORT PACKAGES
import pandas as pd

In [18]:
# READ DATA
df_201402_station = pd.read_csv('ndfdsi-bikeshareanalysis/201402_station_data.csv')
df_201402_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201402_trip_data.csv')
df_201402_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201402_weather_data.csv')

df_201408_station = pd.read_csv('ndfdsi-bikeshareanalysis/201408_station_data.csv')
df_201408_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201408_trip_data.csv')
df_201408_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201408_weather_data.csv')

df_201508_station = pd.read_csv('ndfdsi-bikeshareanalysis/201508_station_data.csv')
df_201508_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201508_trip_data.csv')
df_201508_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201508_weather_data.csv')

In [19]:
# CHECK d201402 DATA SIZE
print(df_201402_station.shape)
print(df_201402_trip.shape)
print(df_201402_weather.shape)

(69, 7)
(144015, 11)
(920, 24)

In [6]:
# CHECK d201408 DATA SIZE
print(df_201408_station.shape)
print(df_201408_trip.shape)
print(df_201408_weather.shape)

(70, 7)
(171792, 11)
(920, 24)

In [7]:
# CHECK d201508 DATA SIZE
print(df_201508_station.shape)
print(df_201508_trip.shape)
print(df_201508_weather.shape)

(70, 7)
(354152, 11)
(1825, 24)

In [20]:
# CHANGE COLUMN
df_201402_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [55]:
df_201402_station.columns.tolist() == df_201408_station.columns.tolist() == df_201508_station.columns.tolist()

True

In [9]:
# MERGE STATION DATA
df_stations_data = [df_201402_station, df_201408_station, df_201508_station]
df_station = pd.concat(df_stations_data)
df_station.shape

(209, 7)

In [10]:
# TOTAL DE DUPLICATAS
sum(df_station.duplicated())

133

In [11]:
# REMOVENDO AS DUPLICATAS
df_station.drop_duplicates(inplace=True)

In [12]:
df_station.shape

(76, 7)

In [54]:
df_201402_trip.columns.tolist() == df_201408_trip.columns.tolist() == df_201508_trip.columns.tolist()

False

In [60]:
name_equal_trip_1 = []
for i in range(df_201402_trip.shape[1]):
    check = df_201402_trip.columns.tolist()[i] == df_201408_trip.columns.tolist()[i]
    name_equal_trip_1.append(not check)
    print(str(check) + " - " + df_201402_trip.columns.tolist()[i] +" "+ df_201408_trip.columns.tolist()[i])
print("Total False: "+str(sum(name_equal_trip_1)))

True - trip_id trip_id
True - duration duration
True - start_date start_date
True - start_station start_station
True - start_terminal start_terminal
True - end_date end_date
True - end_station end_station
True - end_terminal end_terminal
True - bike_# bike_#
False - subscription_type subscriber_type
True - zip_code zip_code
Total False: 1

In [63]:
name_equal_trip_2 = []
for i in range(df_201402_trip.shape[1]):
    check = df_201402_trip.columns.tolist()[i] == df_201508_trip.columns.tolist()[i]
    name_equal_trip_2.append(not check)
    print(str(check) + " - " + df_201402_trip.columns.tolist()[i] +" "+ df_201508_trip.columns.tolist()[i])
print("Total False: "+str(sum(name_equal_trip_2)))

True - trip_id trip_id
True - duration duration
True - start_date start_date
True - start_station start_station
True - start_terminal start_terminal
True - end_date end_date
True - end_station end_station
True - end_terminal end_terminal
True - bike_# bike_#
False - subscription_type subscriber_type
True - zip_code zip_code
Total False: 1

In [64]:
# CHECANDO SE SAO AS MESMAS COLUNAS COM NOMES DIFERENTES
name_equal_trip_1 == name_equal_trip_2

True

In [69]:
colnames = df_201402_trip.columns.tolist()
df_201408_trip.columns = colnames
df_201508_trip.columns = colnames
print(df_201402_trip.columns.tolist() == df_201408_trip.columns.tolist())
print(df_201402_trip.columns.tolist() == df_201508_trip.columns.tolist())

True
True

In [80]:
# MERGE TRIP DATA
df_trips_data = [df_201402_trip, df_201408_trip, df_201508_trip]
df_trip = pd.concat(df_trips_data)
print(df_trip.shape)
df_trip.head()

(669959, 11)

,trip_id,duration,start_date,start_station,start_terminal,end_date,end_station,end_terminal,bike_#,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [71]:
# CHECANDO OS NOMES DE COLUNAS
print(df_201402_weather.columns.tolist())
print(df_201408_weather.columns.tolist())
print(df_201508_weather.columns.tolist())

['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperaturef', 'max_dew_point_f', 'meandew_point_f', 'min_dewpoint_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_in', 'mean_sea_level_pressure_in', 'min_sea_level_pressure_in', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_in', 'cloud_cover', 'events', 'wind_dir_degrees', 'zip']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperaturef', 'max_dew_point_f', 'meandew_point_f', 'min_dewpoint_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_in', 'mean_sea_level_pressure_in', 'min_sea_level_pressure_in', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_in', 'cloud_cover', 'events', 'wind_dir_degrees', 'zip']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperaturef', 'max_dew_point_f', 'meandew_point_f', 'min_dewpoint_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_in', 'mean_sea_level_pressure_in', 'min_sea_level_pressure_in', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_in', 'cloud_cover', 'events', 'wind_dir_degrees', 'zip']

In [72]:
name_equal_weather_1 = []
for i in range(df_201402_weather.shape[1]):
    check = df_201402_weather.columns.tolist()[i] == df_201408_weather.columns.tolist()[i]
    name_equal_weather_1.append(not check)
    print(str(check) + " - " + df_201402_weather.columns.tolist()[i] +" "+ df_201408_weather.columns.tolist()[i])
print("Total False: "+str(sum(name_equal_weather_1)))

True - date date
True - max_temperature_f max_temperature_f
True - mean_temperature_f mean_temperature_f
True - min_temperaturef min_temperaturef
True - max_dew_point_f max_dew_point_f
True - meandew_point_f meandew_point_f
True - min_dewpoint_f min_dewpoint_f
True - max_humidity max_humidity
True - mean_humidity mean_humidity
True - min_humidity min_humidity
True - max_sea_level_pressure_in max_sea_level_pressure_in
True - mean_sea_level_pressure_in mean_sea_level_pressure_in
True - min_sea_level_pressure_in min_sea_level_pressure_in
True - max_visibility_miles max_visibility_miles
True - mean_visibility_miles mean_visibility_miles
True - min_visibility_miles min_visibility_miles
True - max_wind_speed_mph max_wind_speed_mph
True - mean_wind_speed_mph mean_wind_speed_mph
True - max_gust_speed_mph max_gust_speed_mph
True - precipitation_in precipitation_in
True - cloud_cover cloud_cover
True - events events
True - wind_dir_degrees wind_dir_degrees
True - zip zip
Total False: 0

In [61]:
name_equal_weather_2 = []
for i in range(df_201402_weather.shape[1]):
    check = df_201402_weather.columns.tolist()[i] == df_201508_weather.columns.tolist()[i]
    name_equal_weather_2.append(not check)
    print(str(check) + " - " + df_201402_weather.columns.tolist()[i] +" "+ df_201508_weather.columns.tolist()[i])
print("Total False: "+str(sum(name_equal_weather_2)))

True - date date
True - max_temperature_f max_temperature_f
True - mean_temperature_f mean_temperature_f
True - min_temperaturef min_temperaturef
True - max_dew_point_f max_dew_point_f
True - meandew_point_f meandew_point_f
True - min_dewpoint_f min_dewpoint_f
True - max_humidity max_humidity
True - mean_humidity mean_humidity
True - min_humidity min_humidity
True - max_sea_level_pressure_in max_sea_level_pressure_in
True - mean_sea_level_pressure_in mean_sea_level_pressure_in
True - min_sea_level_pressure_in min_sea_level_pressure_in
True - max_visibility_miles max_visibility_miles
True - mean_visibility_miles mean_visibility_miles
True - min_visibility_miles min_visibility_miles
True - max_wind_speed_mph max_wind_speed_mph
True - mean_wind_speed_mph mean_wind_speed_mph
True - max_gust_speed_mph max_gust_speed_mph
True - precipitation_in precipitation_in
True - cloud_cover cloud_cover
True - events events
True - wind_dir_degrees wind_dir_degrees
True - zip zip
Total False: 0

In [73]:
# CHECANDO SE SAO AS MESMAS COLUNAS COM NOMES DIFERENTES
name_equal_weather_1 == name_equal_weather_2

True

In [77]:
colnames = df_201402_weather.columns.tolist()
df_201408_weather.columns = colnames
df_201508_weather.columns = colnames
print(df_201402_weather.columns.tolist() == df_201408_weather.columns.tolist())
print(df_201402_weather.columns.tolist() == df_201508_weather.columns.tolist())

True
True

In [75]:
# MERGE WEATHER DATA
df_weathers_data = [df_201402_weather, df_201408_weather, df_201508_weather]
df_weather = pd.concat(df_weathers_data)
df_weather.shape

(3665, 24)

In [76]:
# VERIFICANDO DUPLICATAS
sum(df_weather.duplicated())

0

In [ ]:
##########
# ANALISES
##########

In [82]:
df_trip.describe()

,trip_id,duration,start_terminal,end_terminal,bike_#
count,669959.000000,6.699590e+05,669959.000000,669959.000000,669959.000000
mean,460382.009899,1.107950e+03,57.851876,57.837438,427.587620
std,264584.458487,2.225544e+04,17.112474,17.200142,153.450988
min,4069.000000,6.000000e+01,2.000000,2.000000,9.000000
25%,231082.500000,3.440000e+02,50.000000,50.000000,334.000000
50%,459274.000000,5.170000e+02,62.000000,62.000000,440.000000
75%,692601.000000,7.550000e+02,70.000000,70.000000,546.000000
max,913460.000000,1.727040e+07,84.000000,84.000000,878.000000

In [84]:
1.107950e+01

11.0795