In [1]:
# Analysis

# 201309_trip_data.csv
# 201309_trip_summary.csv
# 201402_README.txt
# 201402_station_data.csv
# 201402_trip_data.csv
# 201402_weather_data.csv
# 201408_README.txt
# 201408_station_data.csv
# 201408_trip_data.csv
# 201408_weather_data.csv
# 201508_README.txt
# 201508_station_data.csv
# 201508_trip_data.csv
# 201508_weather_data.csv

In [2]:
# IMPORT PACKAGES
import pandas as pd

In [3]:
# READ DATA
df_201402_station = pd.read_csv('ndfdsi-bikeshareanalysis/201402_station_data.csv')
df_201402_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201402_trip_data.csv')
df_201402_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201402_weather_data.csv')

df_201408_station = pd.read_csv('ndfdsi-bikeshareanalysis/201408_station_data.csv')
df_201408_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201408_trip_data.csv')
df_201408_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201408_weather_data.csv')

df_201508_station = pd.read_csv('ndfdsi-bikeshareanalysis/201508_station_data.csv')
df_201508_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201508_trip_data.csv')
df_201508_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201508_weather_data.csv')

In [4]:
# CHECK d201402 DATA SIZE
print(df_201402_station.shape)
print(df_201402_trip.shape)
print(df_201402_weather.shape)

(69, 7)
(144015, 11)
(920, 24)

In [5]:
# CHECK d201408 DATA SIZE
print(df_201408_station.shape)
print(df_201408_trip.shape)
print(df_201408_weather.shape)

(70, 7)
(171792, 11)
(920, 24)

In [6]:
# CHECK d201508 DATA SIZE
print(df_201508_station.shape)
print(df_201508_trip.shape)
print(df_201508_weather.shape)

(70, 7)
(354152, 11)
(1825, 24)

In [10]:
# CHANGE COLUMN
df_201402_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [22]:
# MERGE STATION DATA
df_stations_data = [df_201402_station, df_201408_station, df_201508_station]
df_station = pd.concat(df_stations_data)
df_station.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [ ]:
# MERGE TRIP DATA
df_trips_data = [df_201402_trip, df_201408_trip, df_201508_trip]
df_trip = pd.concat(df_trips_data)
df_trip.head()

In [ ]:
# MERGE WEATHER DATA
df_weathers_data = [df_201402_station, df_201408_station, df_201508_station]
df_weather = pd.concat(df_weathers_data)
df_weather.head()