In [1]:
# Analysis

# 201309_trip_data.csv
# 201309_trip_summary.csv
# 201402_README.txt
# 201402_station_data.csv
# 201402_trip_data.csv
# 201402_weather_data.csv
# 201408_README.txt
# 201408_station_data.csv
# 201408_trip_data.csv
# 201408_weather_data.csv
# 201508_README.txt
# 201508_station_data.csv
# 201508_trip_data.csv
# 201508_weather_data.csv

In [25]:
# IMPORT PACKAGES
import pandas as pd

In [31]:
# READ DATA
df_201402_station = pd.read_csv('ndfdsi-bikeshareanalysis/201402_station_data.csv')
df_201402_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201402_trip_data.csv')
df_201402_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201402_weather_data.csv')

df_201408_station = pd.read_csv('ndfdsi-bikeshareanalysis/201408_station_data.csv')
df_201408_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201408_trip_data.csv')
df_201408_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201408_weather_data.csv')

df_201508_station = pd.read_csv('ndfdsi-bikeshareanalysis/201508_station_data.csv')
df_201508_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201508_trip_data.csv')
df_201508_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201508_weather_data.csv')

In [65]:
# CHECK d201402 DATA SIZE
# CHECK d201408 DATA SIZE
# CHECK d201508 DATA SIZE
print("TABLE\t\t\tNROW\tNCOL")
print("df_201402_station\t" + str(df_201402_station.shape[0]) + "\t" + str(df_201402_station.shape[1]))
print("df_201408_station\t" + str(df_201408_station.shape[0]) + "\t" + str(df_201408_station.shape[1]))
print("df_201508_station\t" + str(df_201508_station.shape[0]) + "\t" + str(df_201508_station.shape[1]))

print("df_201402_trip\t\t" + str(df_201402_trip.shape[0]) + "\t" + str(df_201402_trip.shape[1]))
print("df_201408_trip\t\t" + str(df_201408_trip.shape[0]) + "\t" + str(df_201408_trip.shape[1]))
print("df_201508_trip\t\t" + str(df_201508_trip.shape[0]) + "\t" + str(df_201508_trip.shape[1]))

print("df_201402_weather\t" + str(df_201402_weather.shape[0]) + "\t" + str(df_201402_weather.shape[1]))
print("df_201408_weather\t" + str(df_201408_weather.shape[0]) + "\t" + str(df_201408_weather.shape[1]))
print("df_201508_weather\t" + str(df_201508_weather.shape[0]) + "\t" + str(df_201508_weather.shape[1]))

TABLE			NROW	NCOL
df_201402_station	69	7
df_201408_station	70	7
df_201508_station	70	7
df_201402_trip		144015	11
df_201408_trip		171792	11
df_201508_trip		354152	11
df_201402_weather	920	24
df_201408_weather	920	24
df_201508_weather	1825	24

In [66]:
# CHANGE COLUMN NAME
df_201402_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201402_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201408_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_station.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_trip.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_201508_weather.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [53]:
# ---- PROCESS DATA ----

In [67]:
# CHECK IF STATION TABLE COLUMN NAME IS EQUAL
df_201402_station.columns.tolist() == df_201408_station.columns.tolist() == df_201508_station.columns.tolist()

True

In [50]:
# MERGE STATION TABLES
df_stations_data = [df_201402_station, df_201408_station, df_201508_station]
df_station = pd.concat(df_stations_data)

# PRINT STATION TABLE SIZE, NUM OF DUPLICATES
print("TABLE\t\tNROW\tNCOL\tNDUPLICATES")
print("df_station\t" + str(df_station.shape[0]) + 
      "\t" + str(df_station.shape[1]) + 
      "\t" + str(sum(df_station.duplicated())))

# REMOVENDO AS DUPLICATAS
print("\nRemove the duplicated data\n")
df_station.drop_duplicates(inplace=True)

# PRINT STATION TABLE SIZE, NUM OF DUPLICATES
print("TABLE\t\tNROW\tNCOL\tNDUPLICATES")
print("df_station\t" + str(df_station.shape[0]) + 
      "\t" + str(df_station.shape[1]) + 
      "\t" + str(sum(df_station.duplicated())))

TABLE		NROW	NCOL	NDUPLICATES
df_station	209	7	133

Remove the duplicated data

TABLE		NROW	NCOL	NDUPLICATES
df_station	76	7	0

In [51]:
# CHECK IF TRIP TABLE COLUMN NAME IS EQUAL
df_201402_trip.columns.tolist() == df_201408_trip.columns.tolist() == df_201508_trip.columns.tolist()

False

In [97]:
# COMPARE COLUMN NAMES BETWEEN TRIP TABLES
print("df_201402_trip x df_201408_trip")
print("IS EQUAL\tCOLUMN NAME")
name_equal_trip_1 = []
for i in range(df_201402_trip.shape[1]):
    check = df_201402_trip.columns.tolist()[i] == df_201408_trip.columns.tolist()[i]
    name_equal_trip_1.append(not check)    
    print(str(check) + "\t\t" + 
          "|" + str(df_201402_trip.columns.tolist()[i]) + 
          "|----|" + 
          str(df_201408_trip.columns.tolist()[i]) + "|" ) 
print("Total False: "+str(sum(name_equal_trip_1)))

print("\n----------//----------\n")

print("df_201402_trip x df_201508_trip")
print("IS EQUAL\tCOLUMN NAME")
name_equal_trip_2 = []
for i in range(df_201402_trip.shape[1]):
    check = df_201402_trip.columns.tolist()[i] == df_201508_trip.columns.tolist()[i]
    name_equal_trip_2.append(not check)
    print(str(check) + "\t\t" + 
          "|" + str(df_201402_trip.columns.tolist()[i]) +
          "|----|" + 
          str(df_201508_trip.columns.tolist()[i]) + "|"  )
print("Total False: "+str(sum(name_equal_trip_2)))

df_201402_trip x df_201408_trip
IS EQUAL	COLUMN NAME
True		|trip_id|----|trip_id|
True		|duration|----|duration|
True		|start_date|----|start_date|
True		|start_station|----|start_station|
True		|start_terminal|----|start_terminal|
True		|end_date|----|end_date|
True		|end_station|----|end_station|
True		|end_terminal|----|end_terminal|
True		|bike_#|----|bike_#|
True		|subscription_type|----|subscription_type|
True		|zip_code|----|zip_code|
Total False: 0

----------//----------

df_201402_trip x df_201508_trip
IS EQUAL	COLUMN NAME
True		|trip_id|----|trip_id|
True		|duration|----|duration|
True		|start_date|----|start_date|
True		|start_station|----|start_station|
True		|start_terminal|----|start_terminal|
True		|end_date|----|end_date|
True		|end_station|----|end_station|
True		|end_terminal|----|end_terminal|
True		|bike_#|----|bike_#|
True		|subscription_type|----|subscription_type|
True		|zip_code|----|zip_code|
Total False: 0

In [85]:
# CHECANDO SE SAO AS MESMAS COLUNAS COM NOMES DIFERENTES
print("Is same the columns with differ names?\n" + str(name_equal_trip_1 == name_equal_trip_2))

# CHANGE COLUMN NAMES
print("\nChange names...\n")
colnames = df_201402_trip.columns.tolist()
df_201408_trip.columns = colnames
df_201508_trip.columns = colnames

# CHECK IF TRIP TABLE COLUMN NAME IS EQUAL
print("Is equal the columns name?\n" + 
     str(df_201402_trip.columns.tolist() == df_201408_trip.columns.tolist() == df_201508_trip.columns.tolist()))

Is same the columns with differ names?
True

Change names...

Is equal the columns name?
True

In [91]:
# MERGE TRIP TABLES
df_trips_data = [df_201402_trip, df_201408_trip, df_201508_trip]
df_trip = pd.concat(df_trips_data)

# PRINT TRIP TABLE SIZE, NUM OF DUPLICATES
print("TABLE\t\tNROW\tNCOL\tNDUPLICATES")
print("df_trip\t\t" + str(df_trip.shape[0]) + 
      "\t" + str(df_trip.shape[1]) + 
      "\t" + str(sum(df_trip.duplicated())))

TABLE		NROW	NCOL	NDUPLICATES
df_trip		669959	11	0

In [101]:
# COMPARE COLUMN NAMES BETWEEN WEATHER TABLES
print("df_201402_weather x df_201408_weather")
print("IS EQUAL\tCOLUMN NAME")
name_equal_weather_1 = []
for i in range(df_201402_weather.shape[1]):
    check = df_201402_weather.columns.tolist()[i] == df_201408_weather.columns.tolist()[i]
    name_equal_weather_1.append(not check)
    print(str(check) + "\t\t" + 
          "|" + str(df_201402_weather.columns.tolist()[i]) +
          "|----|" + 
          str(df_201408_weather.columns.tolist()[i]) + "|" )
print("Total False: "+str(sum(name_equal_weather_1)))

print("\n----------//----------\n")

print("df_201402_weather x df_201408_weather")
print("IS EQUAL\tCOLUMN NAME")
name_equal_weather_2 = []
for i in range(df_201402_weather.shape[1]):
    check = df_201402_weather.columns.tolist()[i] == df_201508_weather.columns.tolist()[i]
    name_equal_weather_2.append(not check)
    print(str(check) + "\t\t" + 
          "|" + str(df_201402_weather.columns.tolist()[i]) +
          "|----|" + 
          str(df_201508_weather.columns.tolist()[i]) + "|" )
print("Total False: "+str(sum(name_equal_weather_2)))

df_201402_weather x df_201408_weather
IS EQUAL	COLUMN NAME
False		|date|----|pdt|
False		|max_temperature_f|----|max_temperaturef|
False		|mean_temperature_f|----|mean_temperaturef|
True		|min_temperaturef|----|min_temperaturef|
False		|max_dew_point_f|----|max_dew_pointf|
False		|meandew_point_f|----|meandew_pointf|
False		|min_dewpoint_f|----|min_dewpointf|
True		|max_humidity|----|max_humidity|
True		|mean_humidity|----|mean_humidity|
True		|min_humidity|----|min_humidity|
False		|max_sea_level_pressure_in|----|max_sea_level_pressurein|
False		|mean_sea_level_pressure_in|----|mean_sea_level_pressurein|
False		|min_sea_level_pressure_in|----|min_sea_level_pressurein|
False		|max_visibility_miles|----|max_visibilitymiles|
False		|mean_visibility_miles|----|mean_visibilitymiles|
False		|min_visibility_miles|----|min_visibilitymiles|
False		|max_wind_speed_mph|----|max_wind_speedmph|
False		|mean_wind_speed_mph|----|mean_wind_speedmph|
False		|max_gust_speed_mph|----|max_gust_speedmph|
False		|precipitation_in|----|precipitationin|
False		|cloud_cover|----|cloudcover|
True		|events|----|events|
False		|wind_dir_degrees|----|winddirdegrees|
True		|zip|----|zip|
Total False: 18

----------//----------

df_201402_weather x df_201408_weather
IS EQUAL	COLUMN NAME
False		|date|----|pdt|
False		|max_temperature_f|----|max_temperaturef|
False		|mean_temperature_f|----|mean_temperaturef|
True		|min_temperaturef|----|min_temperaturef|
False		|max_dew_point_f|----|max_dew_pointf|
False		|meandew_point_f|----|meandew_pointf|
False		|min_dewpoint_f|----|min_dewpointf|
True		|max_humidity|----|max_humidity|
True		|mean_humidity|----|mean_humidity|
True		|min_humidity|----|min_humidity|
False		|max_sea_level_pressure_in|----|max_sea_level_pressurein|
False		|mean_sea_level_pressure_in|----|mean_sea_level_pressurein|
False		|min_sea_level_pressure_in|----|min_sea_level_pressurein|
False		|max_visibility_miles|----|max_visibilitymiles|
False		|mean_visibility_miles|----|mean_visibilitymiles|
False		|min_visibility_miles|----|min_visibilitymiles|
False		|max_wind_speed_mph|----|max_wind_speedmph|
False		|mean_wind_speed_mph|----|mean_wind_speedmph|
False		|max_gust_speed_mph|----|max_gust_speedmph|
False		|precipitation_in|----|precipitationin|
False		|cloud_cover|----|cloudcover|
True		|events|----|events|
False		|wind_dir_degrees|----|winddirdegrees|
True		|zip|----|zip|
Total False: 18

In [102]:
# CHECANDO SE SAO AS MESMAS COLUNAS COM NOMES DIFERENTES
print("Is same the columns with differ names?\n" + str(name_equal_weather_1 == name_equal_weather_2))

# CHANGE COLUMN NAMES
print("\nChange names...\n")
colnames = df_201402_weather.columns.tolist()
df_201408_weather.columns = colnames
df_201508_weather.columns = colnames

# CHECK IF TRIP TABLE COLUMN NAME IS EQUAL
print("Is equal the columns name?\n" + 
     str(df_201402_weather.columns.tolist() == df_201408_weather.columns.tolist() == df_201508_weather.columns.tolist()))

Is same the columns with differ names?
True

Change names...

Is equal the columns name?
True

In [103]:
# MERGE WEATHER TABLES
df_weathers_data = [df_201402_weather, df_201408_weather, df_201508_weather]
df_weather = pd.concat(df_weathers_data)

# PRINT TRIP TABLE SIZE, NUM OF DUPLICATES
print("TABLE\t\tNROW\tNCOL\tNDUPLICATES")
print("df_trip\t\t" + str(df_weather.shape[0]) + 
      "\t" + str(df_weather.shape[1]) + 
      "\t" + str(sum(df_weather.duplicated())))

TABLE		NROW	NCOL	NDUPLICATES
df_trip		3665	24	0

In [106]:
# CHECK TABLES SIZES

print("Tables sizes")
print("TABLE\t\tNROW\tNCOL\tNDUPLICATES")
print("df_station\t" + str(df_station.shape[0]) + 
      "\t" + str(df_station.shape[1]) + 
      "\t" + str(sum(df_station.duplicated())))
print("df_trip\t\t" + str(df_trip.shape[0]) + 
      "\t" + str(df_trip.shape[1]) + 
      "\t" + str(sum(df_trip.duplicated())))
print("df_trip\t\t" + str(df_weather.shape[0]) + 
      "\t" + str(df_weather.shape[1]) + 
      "\t" + str(sum(df_weather.duplicated())))

Tables sizes
TABLE		NROW	NCOL	NDUPLICATES
df_station	76	7	0
df_trip		669959	11	0
df_trip		3665	24	0

In [107]:
############
# ANALISES #
############

In [109]:
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669959 entries, 0 to 354151
Data columns (total 11 columns):
trip_id              669959 non-null int64
duration             669959 non-null int64
start_date           669959 non-null object
start_station        669959 non-null object
start_terminal       669959 non-null int64
end_date             669959 non-null object
end_station          669959 non-null object
end_terminal         669959 non-null int64
bike_#               669959 non-null int64
subscription_type    669959 non-null object
zip_code             663340 non-null object
dtypes: int64(5), object(6)
memory usage: 61.3+ MB

In [114]:
df_trip.groupby('bike_#')['duration'].mean()
# df_trip.head()

bike_#
9      3640.358566
10     2223.040323
11     1769.724719
12     3906.762887
13     4110.489177
14     1781.758929
15     4306.471503
16     1059.207143
17     1806.404255
18     2058.078189
19     1949.569892
20     1005.461832
21     1224.398268
22     3822.779592
23     1715.889796
24     1621.729282
25     1624.810036
26     1844.250000
27     1505.342007
28     1283.097378
29     1007.094849
30     1642.949541
31     1182.339130
32     2663.719048
33     1015.245850
34      480.870968
35     1703.098765
36     1959.326316
37     1522.182203
38     2108.450292
          ...
692    5236.608466
693    4493.578378
694    2085.969163
695    2991.114754
696    1077.993007
697     982.166667
698     618.067194
699    1022.170543
700    2116.356021
701    1331.185606
702    1909.943182
703    2470.085227
704    2288.527919
705    1028.890688
706    1040.191571
707    3090.858974
708     855.618834
709     915.246537
710    1597.512027
711    2476.395722
712    2824.433333
713    2576.614504
714    2800.310734
715     951.811847
716    1168.562814
717     959.085366
740     752.715596
876     550.666667
877     796.859351
878     933.370396
Name: duration, Length: 700, dtype: float64