In [1]:
import pandas as pd
% matplotlib inline

/home/henrique/anaconda3/envs/my_env/lib/python3.6/site-packages/matplotlib/font_manager.py:281: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [7]:
d201402_trip = pd.read_csv('ndfdsi-bikeshareanalysis/201402_trip_data.csv')
d201402_weather = pd.read_csv('ndfdsi-bikeshareanalysis/201402_weather_data.csv')
d201402_station = pd.read_csv('ndfdsi-bikeshareanalysis/201402_station_data.csv')

In [6]:
d201402_trip.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [8]:
d201402_trip.nunique()

Trip ID              144015
Duration               7983
Start Date            86444
Start Station            69
Start Terminal           69
End Date              85240
End Station              69
End Terminal             69
Bike #                  689
Subscription Type         2
Zip Code               2880
dtype: int64

In [9]:
# Colocar tudo em minusculo e substituir os espa√ßos por _

# Converter as colunas start_date e end_date para datetime
d201402_trip['Start Date'] = pd.to_datetime(d201402_trip['Start Date'])
d201402_trip['End Date'] = pd.to_datetime(d201402_trip['End Date'])

In [14]:
d201402_trip['Duration'].describe()

count    144015.000000
mean       1230.910141
std        6652.962329
min          60.000000
25%         349.000000
50%         531.000000
75%         797.000000
max      722236.000000
Name: Duration, dtype: float64

In [18]:
d201402_trip[d201402_trip['Duration'] == 722236]

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
80510,111309,722236,2013-11-30 13:29:00,University and Emerson,35,2013-12-08 22:06:00,University and Emerson,35,247,Customer,94301